/* ----------------- PAGE CONTACT: YAIZA------------------ */

.last-text {
  /*margin: 1.25rem;*/
  font-size: 0.8rem;
  display: inline-block;
  /*margin: 2rem 0 4rem;*/
}

.asterisk {
  color: $aqua;
}

.text-contact {
  font-family: $font-main;
  line-height: 1.5rem;
  padding: 0.5rem;
}
.title-contact {
  font-family: $font-secondary;
  color: $dark-green;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 6rem;
  margin: 0;
}

.forms {
  font-size: 0.875rem;
  margin: 0.938rem;
  margin-top: 50px;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5rem;
  align-items: flex-start;

  @media all and (min-width: 768px) {
    align-items: center;
  }
}

.label {
  max-width: 140px;
  @media all and (min-width: 768px) {
    max-width: none;
  }
}

.name,
.email,
.phone,
.message {
  margin: 0.438rem 0 1rem;
  padding: 0.438rem 0.938rem 0.938rem 0.938rem;
  width: 290px;
  opacity: 0.8;
  text-align: left;
  display: block;

  @media all and (min-width: 768px) {
    width: 442px;
  }
}

.forms::placeholder {
  color: $font-color-secondary;
  font-family: $font-main;
  font-size: 0.875rem;
}

.send-button {
  background-color: $dark-green;
  height: 2.813rem;
  width: 320px;
  border: none;
  border-radius: 0.25rem;
  margin: 1.875rem 0 0;
  color: white;
  text-transform: uppercase;
  text-align: center;

  @media all and (min-width: 768px) {
    width: 206px;
  }
}
