
/* ------TEAMS: SANDRA */


.team {
    background-color: white;

    margin-top: 1rem;
    margin-bottom: 1.875rem;
}

.team .title-team {
    font-family: 'Rubik', sans-serif;
    color: $aqua;
    font-size: 1.5rem;
    line-height: 2.813rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1.875rem;
}  

.team .text {
    line-height: 24px;
    text-align: center;
}

.last-text {
    margin: 1.25rem;
    font-size: .8rem;
    display: inline-block;
    margin: 2rem 0 4rem;
}

.team {
    margin: 0 auto;
    text-align: center;
} 

.team .team-text1 {
    margin-top: .938rem;
    padding-bottom: .938rem;
}

.rectangle {
    width: 30px;
    height: 30px;
    margin-top: 14.2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 48%;
    top: 100%;
    transform: rotate(45deg);
} 

.team .margin-leader {
    margin: 2rem;
}


@media all and (min-width: 768px) {


    /* ------RESPONSIVE SANDRA */  

    .margin-leader {
        margin: 0rem 2.813rem;
    }

   .rectangle {
        transform: scale(1.3) rotate(45deg);
       top: calc(92.8% + 2.813rem);
     }

    .team .margin-leader {
        margin: 45px 45px 60px 45px;
     }
    
    .text {
        opacity: 0.67;
     }
    
    .team .title-team {
            color: $dark-green;
            margin: 0;
    }
}

@media all and (min-width: 1200px){

   
    /* ------RESPONSIVE SANDRA */  

    .team .text {
        max-width: 60%;
        margin: 0 auto;
    }

}