/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root{
    --dark-green: #099d8d;
    --light-green: #14d9c4;
    --aqua: #14d9c4;
    }


html  {
    font-family: 'Open Sans', sans-serif;
    color: #54585a;
    width: 100vw;
    min-width: 320px; 
}


.header{
    position: absolute;
}


/* ------ HERO: YAIZA */

.hero {
    background-image: url(../images/Cabecera-Blog-de-Adalab.png);
    width: 100%;
    height: 26.313rem;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.rectangle-hero{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    transform: translate(0%, 50%);
}

.claim {
    height: 3.125rem;
    margin-top: -1.25rem;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: normal;
    position: sticky;
    justify-content: center;
    background-color: white;
    color: black;
}



/* ------TEAMS: SANDRA */

/* .contain {
    text-align: center;
    width: 100%;
    margin: 0 15px;
} */



.hightlight {
    font-family: 'Rubik', sans-serif;
}

.text {
    line-height: 24px;
    text-align: center;
}

.team {
    background-color: white;
    width: 100;
}

.team .title-team {
    color: var(--aqua);
    font-size: 24px;
    line-height: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

.team .team-text1 {
    margin-top: 15px;
    padding-bottom: 15px;
}

.rectangle {
    width: 30px;
    height: 30px;
    margin-top: 14.2px;
    background-color: white;
    position: relative;
    left: 50%;
    top: 3rem;
    transform: rotate(45deg) translate(-100%,-50%);
} 
 


/* -----------STRENGTHS & WEAKNESSES: BLANCA */

.main .strengths-weaknesses {
    background-color: hsla(240, 1%, 72%, 20%);
    padding: 0px 15px 45px 15px;
    
}

.main .titlesw {
    color: var(--dark-green);
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    line-height: 45px;
    padding-top: 30px;
}

.main .textsw {
    font-size: 16px;
    line-height: 24px;
    color: #54585a;
    text-align: center;
}




/* ----------PEOPLE: MIRIAM */

.people{
    margin: 2.813rem 0.9375rem;
    max-width: 100vw;
}

.title-people{
    color: var(--dark-green);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    font-family: 'rubik', sans-serif;
    margin: 1.25rem 0;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.person .photo{
    height: 11.25rem;
    width: 11.25rem;
    border: solid 0.3125rem rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
}


.people .name{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    font-weight: normal;
    padding: 10px 20px;
}

.person .description {
   
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 24px;
    margin-bottom: 5px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-bottom: 40px;
}

.socialmedia .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.625rem 0;
    gap: 1.25rem;
}

.link{
    color: var(--dark-green);
    text-decoration: none;
    padding: 10px;
}

/* ROCÍO HEADER AND FOOTER */

.header {
    background-color: #099d8d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    text-transform: uppercase;
    border-radius: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header .title {
    padding: 1rem;
}

.header .menu {
    background-color: #14d9c4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.header .link-menu {
    font-family: 'Rubik';
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.link-menu:hover {
    color: gainsboro;
}

.footer {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
}

.footer .company-name, .footer .company-name-resp {
padding: 1rem;
color: #b8b8b9;

}

.footer .logo, .footer .logo-resp {
    width: 10rem;
    padding-bottom: 2rem;
}
.footer .company-name-logo {
    display: none;
}

.footer .menu {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    text-align: center;
}

.footer .link-menu {
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight:500;
}

.footer .link-menu:hover {
    color: gainsboro;
}



@media all and (min-width: 768px) {

    /* ------RESPONSIVE YAIZA */ 
    .rectangle-hero{
        width: 44%;
        margin-left: 46px;
        opacity: 0.8;
        transform: none;
    }


     /* ------RESPONSIVE SANDRA */  

     
   .rectangle {
       margin :0px;
       top: 90px;

       
   }

    .team .people {
            margin: 0px 45px 0px 45px;
            padding: 0px;
    }
    
    .text {
            opacity: 0.67;
     }
    
    .team .title-team {
            color: var(--dark-green);
    }


    /* ------RESPONSIVE BLANCA */
        
    .main .strengths-weaknesses .people {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }

    /* ------RESPONSIVE MIRIAM */ 
    
    .person-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 2.75rem;
        text-align: left; 
    }

    .person-right{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin: 2.75rem;
        text-align: right;
    }
   
    .photo-container{
        height: 14rem;
        width: 14rem;
    }

    .text-container{
        padding: 0 1.25rem;
        
    }

    .person-left .name{
        text-align: left;
        padding: 0;
    }

    .person-left .description{
        text-align: left;
    }

    .person-right .name{
        text-align: right;
        padding: 0;
    }

    .person-right .description{
        text-align: right;
       
    }
   .socialmedia-left{
        justify-content: flex-start;
        padding-left: 0;
    }

    .socialmedia-right{
        justify-content: flex-end;
        padding-right: 0;
    }

    .people{
        margin: 3.125rem;
    }

    /* HEADER AND FOOTER RESPONSIVE ROCÍO */

    .header {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        padding-left: 3rem;
    }

    .header .title {
       white-space: nowrap;
    }

    .header .menu {
        background-color: #099d8d;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        padding-right: 6rem;
    }

    .footer {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    }

    .footer .company-name-logo {
        display: block;
        padding-left: 7rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .footer .logo, .footer .company-name {
        display: none;
    }

    .footer .menu {
        text-align: right;
        padding-right: 9rem;
    }
}



@media all and (min-width: 1200px){

    /* ------RESPONSIVE YAIZA */ 
    .rectangle-hero{
        width: 44%;
        opacity: 0.8;
        transform: none;
    }

    .claim {
        font-size: x-large;
        height: 80px;
    }


   
    /* ------RESPONSIVE SANDRA */  
    .contain {
        max-width: 50%;
        margin: 0 auto;
    }


    
    /* ------RESPONSIVE BLANCA */
    
    .main .strengths-weaknesses .contain {
        width: 80%;
    }






    /* ------RESPONSIVE MIRIAM */

    .people{
        margin: 3.125rem 8.625rem;
    }

    .person .description{
        max-width: 27.4375rem;
        padding: 0;
    }

    .text-container{
        min-width: 400px;
    }
        

/* ---------HEADER Y FOOTER RESPONSIVE: ROCÍO */

    .header {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        padding-left: 3rem;
    }

    .header .title {
    white-space: nowrap;
    }

    .header .menu {
        background-color: #099d8d;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        padding-right: 6rem;
    }

    .footer {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    }

    .footer .company-name-logo {
        display: block;
        padding-left: 7rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .footer .logo, .footer .company-name {
        display: none;
    }

    .footer .menu {
        text-align: right;
        padding-right: 9rem;
    }
}
