@import "core/variables";
@import "core/reset";
@import "components/links";
@import "layout/header";
@import "layout/hero";
@import "layout/team";
@import "layout/sw";
@import "layout/people";
@import "layout/form";
@import "layout/footer";
@import "pages/index";

.asterisk {
  color: #14d9c4;
}

.main .contact-banner {
  color: $dark-green;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.first-text {
  width: 290px;
  text-align: center;
}

.last-text {
  margin-top: 40px;
  font-size: 12px;
  width: 290px;
}

.main .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 90px 15px 40px 15px;
  line-height: 30px;
}

.forms-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 41px;
}

.forms {
  display: block;
  margin-top: 7px;
  height: 45px;
  width: 290px;
}

.name {
  padding: 7px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button {
  background-color: $dark-green;
  position: relative;
  color: white;
  border: none;
  width: 290px;
  height: 45px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 60px;
}

.email-phone {
  line-height: 35px;
}

@media all and (min-width: 768px) {
  .first-text {
    width: 442px;
  }

  .forms-contact {
    margin-top: 58px;
  }

  .forms {
    width: 442px;
  }

  .button {
    position: relative;
    left: 120px;
  }

  .send-button {
    width: 206px;
  }
}

@media all and (min-width: 1200px) {
  .email-phone {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .forms {
    width: 601px;
  }

  .email {
    width: 395px;
  }

  .telephone {
    width: 162px;
  }

  .first-text {
    width: 601px;
  }

  .send-button {
    width: 278px;
    left: 46px;
  }
}
