*{
    min-width: 320px;
    max-width: 768px;
}

html{
  font-family: "Open Sans", sans-serif;
    
}





.main .strengths-weaknesses{
    background-color: hsl(240, 1%, 72%, 20%);
    padding: 30px 15px 45px 15px;
   
    
    
}

.main .titlesw{
    color: #099d8d;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: 500;
    line-height: 45px;
    padding-top: 30px;
    

}



.main .textsw{
    
    font-size: 16px;
    line-height: 24px;
    color: #54585a;
    text-align: center;

}
:root{
--dark-green: #099d8d;
--light-green: #14d9c4;

}

.title-people{
    color: var(--dark-green);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family: 'rubik', sans-serif;
    padding: 30px;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person .photo{
    height: 180px;
    width: 180px;
    border: solid 5px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.person .name{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
}

.person .description{
    width: 290px;
    height: 120px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.socialmedia{
    padding: 40px;
   
    
}
.socialmedia .container{
    display: flex;
}

.link{
color: var(--dark-green);
text-decoration: none;
padding: 10px;
}


@media all and (min-width: 768px) {
    .main .strengths-weaknesses {
        display: flex;
    }
}

